// src/pages/Home.scss

.home-container {
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  .section {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e0f7fa;
    margin: 0 auto;
    width: 80%;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    .section-title,
    .sub-section-title,
    .sub-sub-section-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 5px;
      transition: background-color 0.3s;
      white-space: nowrap;

      &.active {
        font-weight: bold;
      }

      input.custom-checkbox {
        margin-right: 5px; // Checkbox'u sola yasla
        cursor: default;
      }

      span {
        margin-left: 5px; // Metni sola yasla
      }
    }

    .section-title {
      border-radius: 10px 10px 0 0;

      &.active {
        background-color: #80deea;
      }
    }

    .sub-section-title {
      border-radius: 10px;

      &.active {
        background-color: #66bb6a;
      }
    }

    .sub-sub-section-title {
      border-radius: 0;

      &.active {
        background-color: #66bb6a;
      }
    }

    .sub-sections {
      margin-left: 20px;

      .sub-section {
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #c8e6c9;
        transition: background-color 0.3s;

        &:hover {
          background-color: #a5d6a7;
        }

        .content {
          margin-left: 20px;

          .sub-sub-section {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .sub-sub-section-title {
              cursor: pointer;
              padding: 3px;
              border-radius: 0;
              transition: background-color 0.3s;
              white-space: nowrap;

              &.active {
                font-weight: bold;
                background-color: #66bb6a;
              }

              input.custom-checkbox {
                margin-right: 5px; // Checkbox'u sola yasla
                cursor: default;
              }

              span {
                margin-left: 5px; // Metni sola yasla
              }
            }
          }
        }
      }
    }
  }

  .section + .section {
    margin-top: 20px;
  }
}